.navbar {
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 0 $navbar-padding-horizontal+1rem 0 $navbar-padding-horizontal;

  .navbar-item:not(.has-dropdown) {
    padding: .5rem 1rem;
  }

  .navbar-item .navbar-link:not(.is-arrowless) {
    padding: .5rem 2rem .5rem 1rem;
  }

  .profile-link {
    padding: .5rem 1.75rem;
  }

  .profile {
    height: $navbar-item-img-max-height;
    width: $navbar-item-img-max-height;
  }
}