// HEADER
$navbar-height: 3.5rem;
$navbar-padding-horizontal: 0;
$navbar-item-img-max-height: 2rem;
$navbar-dropdown-offset: 0;
$navbar-dropdown-arrow: $link;

// FOOTER
$footer-padding: 3rem 2rem 3rem;

// SIDEBAR
$menu-label-color: $slate;
$menu-item-color: $quartz;
$menu-item-hover-color: $quartz;
$menu-item-hover-background-color: lighten($koamaru, 5%);
$menu-item-active-background-color: lighten($koamaru, 10%);

// TABS
$tabs-border-bottom-color: $mist;
$tabs-link-color: $quartz;
$tabs-link-hover-color: $quartz;
$tabs-link-hover-border-bottom-color: $periwinkle;
$tabs-link-active-color: $indigo;
$tabs-link-active-border-bottom-color: $indigo;
$tabs-border-bottom-width: 2px;